.vagrant
/.vagrant
.DS_Store
.idea
/.idea
/projects/keys
/projects/www/j33d
/projects/www/j25d
/projects/www/j33_test
/projects/www/j25_test
/projects/www/joomla3.zip
/projects/www/joomla25.zip
/projects/www/sql/j33_complete.sql
/projects/www/sql/extension_sql_2015-01-08.sql
/projects/buildtools
/projects/cflappy
/projects/cmc
/projects/conepage
/projects/ctransifex
/projects/jedchecker
/projects/lib_cmandrill
/projects/Matukio
/projects/CComment
/projects/cmandrill
/projects/cnotes
/projects/Ctemplate
/projects/CUpdater
/projects/Hotspots
/projects/lib_compojoom
/projects/Tiles
/projects/cmigrator
/projects/coding-standards
/projects/joomla-cms
